.main {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 3rem;
  gap: 1rem;

  ol li::marker {
    color: var(--orange);
  }

  ol li p {
    margin-bottom: 1.5rem;
  }

  h3,
  h4,
  p,
  span {
    text-align: start;
  }

  h3 {
    margin-bottom: -1.25rem;
  }
}
