.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 2rem;

  h4 {
    max-width: 720px;
    margin-bottom: 4rem;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;

  div:nth-child(1) {
    max-width: 720px;
  }

  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    max-width: 80%;

    div {
      background-color: var(--green-light);
      border-radius: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.2rem;
    }

    .icon {
      font-size: 2.5rem;
      color: var(--white);
    }
  }

  aside {
    button {
      width: 80%;
    }
  }
}

@media (max-width: 720px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;

    article {
      min-width: 100%;
    }

    aside {
      button {
        width: 100%;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
